---
title: "Choice Hotels Competitions"
hero: "choicehotelscompetitions/hero.png"
client: "Choice Hotels"
tag:
- "ux"
- "ui"
- "user flows"
- "wireframes"
- "photoshop"
- "wordpress"

---
<div class="hero-container">
	{{> hero }}
</div>
<main class="project-post">
	<aside class="information">
		<p>Client: {{ client }}</p>
		{{#each tag}}
			<span class="project-tag">{{this}}</span> 
		{{/each}}
	</aside>
	<div class="introduction">
		<p>Choice Hotels approached Taos Creative to create a microsite to host their online competitions. Separate competitions were held in Australia and New Zealand, so the requirements were to create a template where elements could be easily updated. The competitions were exclusive to Choice Hotels customers, therefore the client needed a secure gateway for users to log in.</p>

		<h3>My Role</h3>
		<ul>
			<li>Define user goals and tasks, balancing their needs with business requirements</li>
			<li>Produce user flows to map out journey</li>
			<li>Create wireframes to demonstrate functionality</li>
			<li>Lead team of developers to implement responsive microsite</li>
			<li>Manage multiple stakeholders, ensuring business requirements were accomplished within a strict timeframe</li>
		</ul>
	</div>
</main>
<section class="project-post">
	<div class="body">
		<h2>Solution</h2>
		<p>We designed a process where users can enter their unique ID which will grant access and automatically fill in the competition form. To entice users to subscribe to the company's Facebook page, we added a facebook plugin so entrants could "like" the page and receive additional rewards. The prompt loads on form completion, giving the user a choice to subscribe to the Facebook fan page.</p>
		<p>Wireframes and userflows were originally built using protoshare, a cloud based wireframing tool.</p>
	</div>
</section>
<section class="project-image-container">
	<div class="project-image">
		<p><img src="../assets/img/choicehotelscompetitions/wireframes-choice-hotels.png" class="img-responsive" alt="User flow for Choice Hotels microsite"></p>
		<p class="caption">User flow for Choice Hotels microsite</p>
	</div>
</section>
<section class="project-post">
	<div class="body">
		<h2>Result</h2>
		<p>The microsite registered 1000+ new Choice Hotels members and 5000+ Facebook likes.</p>
	</div>
</section>