---
title: "Preference Manager"
hero: "preferencemanager/hero.png"
client: "Sensis"
project: true
order: 2
tag:
- "ux"
- "ui"
- "prototyping"
- "wireframes"
- "photoshop"
- "interaction design"
- "html"
- "css"
- "bootstrap"
- "jquery"
- "javascript"
- "illustrator"
- "axure"
---
<div class="hero-container">
	{{> hero }}
</div>
<main class="project-post">
	<aside class="information">
		<p>Client: {{ client }}</p>
		{{#each tag}}
			<span class="project-tag">{{this}}</span> 
		{{/each}}
	</aside>
	<div class="introduction">
		<p>When it comes to keeping in contact with customers, Sensis rely upon emails to communicate messages. Messages range from important transactions, product updates, to social events. Users aren't all the same, and Sensis were finding customers wanted more control over what types of messages they receive. The existing opt out process disabled all messages, removing them from all important messaging. Taos Creative was employed to design an opt-down process, which gives customers the ability to choose the content they receive in their inbox.</p>

		<h3>My Role</h3>
		<ul>
			<li>Project Manager, scope project to develop a timeline and deliverable date for client</li>
			<li>Initiate meetings to produce a list of requirements from various stakeholders</li>
			<li>Develop lo-fidelity prototypes, based on existing user research and requirements</li>
			<li>Produced technical documentation and hi-fidelity prototypes for external suppliers</li>
			<li>Built a responsive user interface using HTML, CSS, JQuery and Javascript</li>
		</ul>
	</div>
</main>
<section class="project-post">
	<div class="body">
		<h2>Solution</h2>
		<p>Mainting a simple user interface was the key objective, as the client's userbase tend to be small business owners with mild proficiency in using technology. Initial designs supplied by the client illustrated four boxes stacked horizontally, which contained a message type and a desciption on the content of the message. Users would then press a button to unsubscribe from that particular message.</p>
		<p>I assessed the design and suggested a list of checkboxes was more effective as customers relate the design pattern to making choices. A second column was introduced to evaluate the customers choices by displaying what they will and won't receive.</p>
		<p>A rapid prototype was produced using HTML5, CSS3, Twitter Bootstrap, JQuery and Javascript. This prototype illustrates how customers would interact with the interface.</p>
		<p>High fidelity wireframes and prototype were built Axure to illustrate the user flow and interaction.</p>
	</div>
</section>
<section class="project-image-container">
	<div class="project-image">
		<p><img src="../assets/img/preferencemanager/wireframes-preference-manager.gif" class="img-responsive" alt="Wireframes and prototype for preference manager"></p>
		<p class="caption">Prototype for preference manager, selecting preferences on the left will update the column on the right</p>
	</div>
	<div class="project-image">
		<p><img src="../assets/img/preferencemanager/preference-manager.gif" class="img-responsive" alt="Preference manager final design"></p>
		<p class="caption">Preference manager final design</p>
	</div>
</section>
<section class="project-post">
	<div class="body">
		<h2>Result</h2>
		<p>The solution gave customers more control over their email preferences, in turn reducing the overall churn rate for the client. The portal was built responsively, so customers could access across a variety of devices.</p>
		<p>In addition, I supplied technical documentation to all stakeholders during development process. This included a project outline, Axure wireframes and user journeys.</p>
		<p>Results achieved from technical documentation:</p>
		<ul>
			<li>Task alignment and organisation within all teams</li>
			<li>Fulfillment of project requirements</li>
			<li>Ensure sensitive data was handled correctly</li>
			<li>Interactive components was conveyed with detail and precision</li>
			<li>Functionality was demonstrated clearly through the use of user journeys</li>
		</ul>
	</div>
</section>