---
layout:
title: Web Design, Email Marketing | Tan Vo, Sydney, Australia
---
<div class="row">
  <div class="container">
    {{#each project}}
    {{> project }}
    {{/each}}
    </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2>Experience</h2>
      <p class="lead">
        Companies I've worked for.
      </p>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-company-profile">
          <h4>
            Taos Creative
          </h4>
          <p class="small">
            2009 - Present
          </p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          {{> experience experience.experience-1}}
          {{> experience experience.experience-2}}
          {{> experience experience.experience-3}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-company-profile">
          <h4>
            Allphones
          </h4>
          <p class="small">
            2006 - 2008
          </p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          {{> experience experience.experience-4}}
        </div>
      </div>
    </div>
  </div>
</div>
<h1></h1>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <h1>Skills</h1>
      <h3>Frontend</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Less</li>
        <li>Boostrap</li>
        <li>UIKit</li>
        <li>Javascript</li>
        <li>JQuery</li>
      </ul>
      <h3>Backend</h3>
      <ul>
        <li>Node</li>
        <li>Grunt</li>
      </ul>

      <h3>Design</h3>
      <ul>
        <li>Photoshop (CS6)</li>
        <li>Illustrator (CS6)</li>
      </ul>
    </div>

  </div>
</div>
