---
layout:
title: Web Design, Email Marketing | Tan Vo, Sydney, Australia
---
<h1>Projects</h1>

{{#each partial}}
{{> partial }}
{{/each}}

<h1>Experience</h1>
<p>
  Digital Project Manager/Email Marketing Specialist
</p>
<p>
  Email Marketing Consultant
</p>
<p>
  SEO consultant
</p>
<p>
  Sales Consultant
</p>
<p>
  B. Design Computing @ University of Sydney
</p>
<h3>Frontend</h3>
<ul>
  <li>HTML5</li>
  <li>CSS3</li>
  <li>Less</li>
  <li>Boostrap</li>
  <li>Javascript</li>
  <li>JQuery</li>
</ul>
<h3>Backend</h3>
<ul>
  <li>Node</li>
  <li>Grunt</li>
</ul>

<h3>Design</h3>
<ul>
  <li>Photoshop (CS6)</li>
  <li>Illustrator (CS6)</li>
</ul>
