<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 project">
  <a href="#"><img src="{{ image }}" class="img-responsive" /></a>
    <h4 class="project-title">
      {{ title }} <br>
      <span class="o-tag">{{ client }}</span>
    </h4>
</div>
