<header>
	<div class="logo">
		<a href="/"><img src="/assets/img/logo.svg" alt="Tan Vo - UX Designer"></a>
	</div>
	
	<nav class="global-navigation">
		<ul>
			<li>UX</li>
			<li>Design</li>
			<li>Development</li>
			<li>Portfolio</li>
		</ul>
	</nav>
</header>