<header>
	<div class="logo">
		<a href="/"><img src="http://tanmvo.com/assets/img/TanVo.png" alt="Tan Vo - UX Designer" width="50" height="50"></a>
	</div>
	
	<nav>
		<ul>
			<li>Portfolio</li>
			<li>User Experience</li>
			<li>Development</li>
			<li>Design</li>
			<li>Blog</li>
			<li>Contact</li>
		</ul>
	</nav>
</header>