<div class="hero-container">
	<div class="hero">
	  <img src="http://www.tanmvo.com/assets/img/{{ hero }}" alt="{{ title }}" class="img-responsive" />
	    <h2><span>{{ title }}</span>
	    </h2> 
	</div>
</div>