<div class="project">
  <img src="{{ image }}" alt="Together, a user experience case study" class="img-responsive" />
    <h2><span>{{ title }}
    		<br>
          <span class="client">{{ client }}</span></span>
    </h2> 
</div>
