{{!-- Navigation --}}
<div class="header">
	<div class="logo">
		<a href="/"><img src="http://tanmvo.com/assets/img/TanVo.png" alt="Tan Vo - UX Designer" width="50" height="50"></a>
	</div>
	<div class="profile" role="navigation">
		<strong>Tan Vo</strong>, 
		 <i>UX Designer</i>
		<br>
		<a href="http://tanmvo.com/assets/img/TanVo-CV.pdf" target="_blank">Download CV</a>
	</div>
	<div class="description">
		<p>UX Designer based in Sydney, Australia. 5 years agency experience as a hands-on project manager, working with great companies from startups to well-established corporate brands. I design, I code and I'm passionate about building great experiences from start to finish.</p>
	</div>
</div>