{{!-- Navigation --}}
<div class="header">
	<div class="logo">
		<a href="/"><img src="http://tanmvo.com/assets/img/TanVo.png" alt="Tan Vo - UX Designer" width="50" height="50"></a>
	</div>
	<div class="profile" role="navigation">
		<p>
			<strong>Tan Vo</strong>, <i>UX Designer</i>
			<br>
			<a href="/">Projects</a>
			<br>
			<a href="http://www.tanmvo.com/assets/img/TanVo-CV.pdf" target="_blank">Download CV</a>
			
		</p>
	</div>
</div>