---
title: "JCurve Point of Sale System"
hero: "jcurvepos/hero.png"
client: "JCurve"
tag:
- "ux"
- "ui"
- "user flows"
- "wireframes"
- "heuristic analysis"
- "axure"

---
<div class="hero-container">
	{{> hero }}
</div>
<main class="project-post">
	<aside class="information">
		<p>Client: {{ client }}</p>
		{{#each tag}}
			<span class="project-tag">{{this}}</span> 
		{{/each}}
	</aside>
	<div class="introduction">
		<p>JCurve POS is a Point of Sale system for B2B transactions. The POS is an application which integrates with the JCurve user's CRM and stock management system. JCurve users needed a solution in stores to handle face-to-face sales as transactions processed through the accounting system proved difficult and time consuming.</p>
		<p>JCurve commissioned Taos Creative to do a heuristic analysis and suggest improvements to current processes.</p>
		<h3>My Role</h3>
		<ul>
			<li>Heuristic analysis of existing application</li>
			<li>Develop new user flows</li>
			<li>Create low fidelity wireframes/prototype to illustrate examples</li>
		</ul>
	</div>
</main>
<section class="project-post">
	<div class="body">
		<h2>Solution</h2>
		<p>From the heuristic analysis, two design patterns was suggested to the client:</p>
		<ol>
			<li>Update the existing customer representation model from a dropdown to a widget</li>
			<li>Amend the shopping cart to be displayed on a larger portion of the screen</li>
		</ol>
		<p>The existing POS currently uses a dropdown to sift through the customer database. This design did not allow room for future improvements such as filtering and or search by keyword. Our suggestion was to implement a widget based on a business card metaphor, where the customers details are displayed prominently within a panel. Actions such as creating a new customer and searching for exisiting customers was consolidated into a modal, to make the process consistent with other aspects of the POS. We also suggested copy to be updated from "Casual Customer" to "Guest Checkout" as it was a term familiar in an ecommerce environment.</p>
		
	</div>
</section>
<section class="project-image-container">
	<div class="project-image">
		<p><img src="../assets/img/jcurvepos/heuristic-jcurve-pos.gif" class="img-responsive" alt="Exisiting POS functionality, users are required to access a dropdown of names"></p>
		<p class="caption">Exisiting POS functionality, users are required to access a dropdown of names</p>
	</div>
</section>
<section class="project-image-container">
	<div class="project-image">
		<p><img src="../assets/img/jcurvepos/wireframes-customer.gif" class="img-responsive" alt="Axure wireframes illustrate a customer panel to access customer database. Uses a business card metaphor to give users customers tangibility"></p>
		<p class="caption">Axure wireframes illustrate a customer panel to access customer database. Uses a business card metaphor to give users customers tangibility</p>
	</div>
</section>
<section class="project-post">
	<div class="body">
		<p>The current shopping cart is displayed below the customer detail section. Placing the cart in a more prominent position allows users immediate accessibility.</p>
	</div>
</section>
<section class="project-image-container">
	<div class="project-image">
		<p><img src="../assets/img/jcurvepos/heuristic-shopping-cart.png" class="img-responsive" alt="User flow for Choice Hotels microsite"></p>
		<p class="caption">POS shopping cart, not in a prominent position and not easily identifiable</p>
	</div>
</section>
<section class="project-image-container">
	<div class="project-image">
		<p><img src="../assets/img/jcurvepos/wireframes-shopping-cart.png" class="img-responsive" alt="User flow for Choice Hotels microsite"></p>
		<p class="caption">POS shopping cart, extended to larger portion of the screen to prioritise the action</p>
	</div>
</section>
<section class="project-post">
	<div class="body">
		<h2>Result</h2>
		<p>By replacing the dropdown with the customer panel, the different customer states was recognisable and gave the shopping cart more prominent positioning. Overall the results from the analysis was positive, adjusting the positions and how the objects were displayed allowed internal testers to prioritise their tasks and develop a consistent workflow.</p>
	</div>
</section>