<div class="col-xs-12">
  <h1>
    Tan Vo
  </h1>
  <p>
    <a href="#">Web Designer</a>, Sydney Australia
  </p>
</div>
<!-- <div class="">
  <div class="">
    <ul class="">
      <li>Github: @thetanman</li>
      <li>Contact me</li>
    </ul>
  </div>
  <div class="">
    <ul class="">
      <li>Like</li>
      <li>Tweet</li>
      <li>Email</li>
    </ul>
  </div>
</div> -->
