<nav role="navigation">
  <div class="container project-container">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h2>Tan Vo</h2>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 o-nav-item">
      <ul>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 o-nav-item">
      <p>I develop responsive HTML emails, implement complex email marketing campaigns, produce microsites with a team of developers and build Facebook applications.</p>
    </div>
  </div>
</nav>